<div class="about">
    <div class="about-page">
        <h2>About This Page</h2>
        <div class="page-description">
            <p>
                With my expertise in <span>network and cyber security</span>, I've set up this open page and shared a wealth of resources, including 
                <strong style="color: #cc693c">traffic dataset, tutorials, research papers, </strong>
                and even some of my repositories that I've developed so far. All these materials can be downloaded and configured for personal and business use alike.
            </p>
        </div>
        <div class="down btn-open" href="#contents" id="about-down" data-scroll>
            <span></span>
            <span></span>
        </div>
        <!-- <a class="down btn-open" href="#contents" id="about-down" data-scroll><i class="fa fa-arrow-circle-down"></i></a> -->
    </div>
</div>