<div class="main-loc">
    <table class="loc-table">
        <th>Network Traffic Analyzer</th>
        <th>Public Dataset</th>
        <th>Technical Blog (Korean)</th>
        <tr>
            <td>
                <svg viewBox="0 0 200 200">
                    <image href="{{ '/assets/img/toolkits.png' }}"/>
                </svg>
            </td>
            <td>
                <svg viewBox="0 0 200 200">
                    <image href="{{ '/assets/img/datasets.png' }}"/>
                </svg>
            </td>
            <td>
                <svg viewBox="0 0 400 200">
                    <image href="{{ '/assets/img/stack.png' }}"/>
                </svg>
            </td>
        </tr>
        <tr>
            <td>
                <p>I've developed <a href="toolkits">toolkits</a> allowing network engineers to <strong>inspect real-time packet data</strong> 
                    and perform robust <strong>statistical analyses</strong>.</p>
            </td>
            <td>
                <p>Download <strong>full packet capture (pcap)</strong> files, logs, and their associated documentation from <a href="datasets">here</a>.</p>
            </td>
            <td>
                <p>My own <a href="blog">blog</a> covers the vast world of ICT: <strong>cloud computing, big data, deep learning</strong>, and more!</p>
            </td>
        </tr>
    </table>
</div>