<ul class="list-of-contents">
    <li class="content">
        <div class="icon-box">
            <svg viewBox="0 0 200 200">
                <a href="toolkits" aria-label="toolkits">
                    <image href="{{ '/assets/img/toolkits.webp' }}"/>
                </a>
            </svg>
        </div>
        <div class="description-box">
            <div>
                <h2>Network Traffic Analyzer</h2>
                <p class="number theme1">1</p>
                <p class="category-description">
                    I've developed 
                    <a href="toolkits">toolkits</a> 
                    allowing network engineers to 
                    <strong>inspect real-time packet data</strong> 
                    and perform robust 
                    <strong>statistical analyses</strong>.
                </p>
            </div>
        </div>
    </li>
    <li class="content">
        <div class="icon-box">
            <svg viewBox="0 0 200 200">
                <a href="datasets" aria-label="datasets">
                    <image href="{{ '/assets/img/datasets.webp' }}"/>
                </a>
            </svg>
        </div>
        <div class="description-box">
            <div>
                <h2>Public Dataset</h2>
                <p class="number theme2">2</p>
                <p class="category-description">
                    Download 
                    <strong>full packet capture (pcap)</strong> 
                    files, logs, and their associated documentation from 
                    <a href="datasets">here</a>.
                </p>
            </div>
        </div>
    </li>
    <li class="content">
        <div class="icon-box">
            <svg viewBox="0 0 200 200">
                <a href="blog" aria-label="blog">
                    <image href="{{ '/assets/img/stack.webp' }}"/>
                </a>
            </svg>
        </div>
        <div class="description-box">
            <div>
                <h2>Technical Blog (Korean)</h2>
                <p class="number theme3">3</p>
                <p class="category-description">
                    My own 
                    <a href="blog">blog</a> 
                    covers the vast world of ICT: 
                    <strong>cloud computing, big data, deep learning</strong>, 
                    and more!
                </p>
            </div>
        </div>
    </li>
</ul>