<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    
    <title>
        {% if page.title %}{{ page.title }}
        {% else %}{{ site.title }}
        {% endif %}
    </title>
    <meta
        name="description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link
        rel="stylesheet"
        href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' }}">
</head>