<div class="main-banner">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
            <span class="site-description">{{ site.description }}</span>
        </h1>
        <div class="header-icons">
            {% if site.email %}
            <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
            {% endif %}
            {% if site.twitter_username %}
            <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
            {% endif %}
            {% if site.instagram_username %}
            <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
            {% endif %}
            {% if site.facebook_username %}
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            {% endif %}
            {% if site.github_username %}
            <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class='icon fa fa-github-alt'></i></a>
            {% endif %}
            {% if site.medium_username %}
            <a aria-label="My Medium" target="_blank" href="https://medium.com/{{ site.medium_username }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
            {% elsif site.medium_url %}
            <a aria-label="My Medium" target="_blank" href="https://{{ site.medium_url }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="about-page">
    <h1>About This Page</h1>
    <div class="page-description">
        <p>
            With my expertise in <span>network and cyber security</span>, I've set up this open page and shared a wealth of resources, including 
            <strong style="color: #cc693c">traffic dataset, tutorials, research papers, </strong>
            and even some of my repositories that I've developed so far. All these materials can be downloaded and configured for personal and business use alike.
        </p>
    </div>
    <a class="down" href="#contents" data-scroll><i class="fa fa-arrow-circle-down"></i></a>
</div>