<nav class="navigation" id="site-nav">
    {%- assign page_type = page.theme -%}
    <!--{%- assign page_tree = page.url | remove_first: "/" | split: "/" -%}-->

    {%- assign nav_pages = site.pages 
        | where_exp: "item", "item.title != nil"
        | where_exp: "item", "item.theme == page_type"
        | where_exp: "item", "item.nav_include == true"
        | sort: 'title' -%}

    {%- assign first_level_pages = nav_pages
        | where_exp: "item", "item.parent == nil" -%}
    {%- assign second_level_pages = nav_pages
        | where_exp: "item", "item.parent != nil"
        | where_exp: "item", "item.grand_parent == nil" -%}
    {%- assign third_level_pages = nav_pages
        | where_exp: "item", "item.grand_parent != nil" -%}

    <ul class="nav-list">
    {%- for node in first_level_pages -%}
        <li class="nav-list-item" id="nav-first" aria-label="{{ node.title }}">
            {%- if node.has_children -%}
            <button class="nav-list-expander" id="btn-reset" aria-label="toggle items in {{ node.title }} category" aria-pressed="false">
                <i class="fa fa-angle-down"></i>
            </button>
            {%- endif -%}

            <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
            {%- if node.has_children -%}
            {%- assign children_list = second_level_pages
                | where: "parent", node.title -%}

            <ul class="nav-list">
            {%- for child in children_list -%}
                <li class="nav-list-item" id="nav-second" aria-label="{{ child.title }}">
                {%- if child.has_children -%}
                <button class="nav-list-expander" id="btn-reset" aria-label="toggle items in {{ child.title }} category" aria-pressed="false">
                    <i class="fa fa-angle-down"></i>
                </button>
                {%- endif -%}
                <a href="{{ child.url | relative_url }}" class="nav-list-link">{{ child.title }}</a>
                {%- if child.has_children -%}
                    {%- assign grand_children_list = third_level_pages
                        | where: "parent", child.title
                        | where: "grand_parent", node.title -%}
                    <ul class="nav-list">
                    {%- for grand_child in grand_children_list -%}
                    <li class="nav-list-item">
                        <a href="{{ grand_child.url | relative_url }}" class="nav-list-link">{{ grand_child.title }}</a>
                    </li>
                    {%- endfor -%}
                    </ul>
                {%- endif -%}
                </li>
            {%- endfor -%}
            </ul>
            {%- endif -%}
        </li>
    {%- endfor -%}
    </ul>
</nav>