<nav id="navigation">
    {%- assign nav_pages = site.pages 
        | where_exp: "item", "item.title != nil"
        | where_exp: "item", "item.bookmark == true"
        | sort: 'title' -%}

    {% assign first_level_pages = "" | split, "" %}
    {% assign second_level_pages = "" | split, "" %}
    {% assign third_level_pages = "" | split, "" %}

    {% for p in nav_pages %}
        {%- assign p_tree = p.url | remove_first: "/" | split: "/" -%}

        {% if p_tree[0] == page_category %}
            {%- assign p_level = p_tree | size -%}
            {% if p_level <= 2 and p.bookmark %}
                {% assign first_level_pages = first_level_pages | push:p %}
            {% elsif (p_level == 3 and p.bookmark) or (p_level == 2 and p.bookmark == nil) %}
                {% assign second_level_pages = second_level_pages | push:p %}
            {% elsif (p_level == 4 and p.bookmark) or (p_level == 3 and p.bookmark == nil) %}
                {% assign third_level_pages = third_level_pages | push:p %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <ul class="nav-list">
    {%- for node in first_level_pages -%}
        {%- assign children_list = second_level_pages 
            | where_exp: "item", "item.url contains node.url"
            | sort: 'title' -%}
        {%- assign num_children = children_list | size -%}
        <li id="nav-first" aria-label="{{ node.title }}">
            <div class="nav-item">
                <a href="{{ node.url | relative_url }}" class="nav-list-link nav-lh">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                    <span>{{ node.title }}</span>
                </a>
                {%- if num_children > 0 and node.url != "/blog/" -%}
                <button class="nav-list-expander" aria-label="toggle items in {{ node.title }} category" aria-pressed="false">
                    <i class="fa fa-angle-down"></i>
                </button>
                {%- endif -%}
            </div>
            {%- if num_children > 0 and node.url != "/blog/" -%}
            <ul class="nav-list">
            {%- for child in children_list -%}
                {%- assign grand_children_list = third_level_pages 
                    | where_exp: "item", "item.url contains child.url"
                    | sort: 'title' -%}
                {%- assign num_grand_children = grand_children_list | size -%}
                <li id="nav-second" aria-label="{{ child.title }}">
                    <div class="nav-item">
                        <a href="{{ child.url | relative_url }}" class="nav-list-link nav-sh">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                            <span>{{ child.title }}</span>
                        </a>
                        {%- if num_grand_children > 0 -%}
                        <button class="nav-list-expander" aria-label="toggle items in {{ child.title }} category" aria-pressed="false">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        {%- endif -%}
                    </div>
                    {%- if num_grand_children > 0 -%}
                        <ul class="nav-list">
                        {%- for grand_child in grand_children_list -%}
                        <li id="nav-third" aria-label="{{ grand_child.title }}">
                            <div class="nav-item">
                                <a href="{{ grand_child.url | relative_url }}" class="nav-list-link nav-sh">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                    <span>{{ grand_child.title }}</span>
                                </a>
                            </div>
                        </li>
                        {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
            </ul>
            {%- endif -%}
        </li>
    {%- endfor -%}
    </ul>
</nav>