{%- assign list_pages = site.pages | sort:"date" | reverse -%}

<div class="category_name">
    {%- assign page_link = "/" -%}
    <p>
        {%- assign search_tree = page.path | remove: "/index.md" | split: "/" -%}
        {%- for sub_tree in search_tree -%}
            {% if forloop.last %}
                {{ sub_tree }}
            {% else %}
                {%- assign page_link = page_link | append: sub_tree | append: "/" -%}
                <a href="{{ page_link }}">{{ sub_tree }}</a>
                >
            {% endif %}
        {%- endfor -%}
    </p>
    <h3 id="category">
        {% if page_level == 1 %}
            @ll_posts
        {% else %}
            {{ page.title }}
        {% endif %}
    </h3>
</div>
<div id="category_list">
    <ul class="paginated-list" data-current-page="1" aria-live="polite">
    {%- for sub_page in list_pages -%}
        {%- assign checkArray = sub_page.url | split:page.url -%} <!-- check whether the post belongs to the parent category -->
        {%- assign is_post = sub_page.url | split: ".html" -%} <!-- check whether its URL ends with .html -->
        {% if checkArray[0] == "" and is_post.size == 1 and is_post[0] != sub_page.url %}
            <li class="paginated-item">
                <div id="article_content">
                    <div class="thumbnail_zone">
                        {%- assign thumbnail_path = sub_page.thumbnail -%}
                        {% if sub_page.thumbnail == nil %}
                            {%- assign thumbnail_path = "/assets/img/thumbnail/empty.jpg" -%}
                        {% endif %}
                        <a href="{{ sub_page.url }}" class="thumbnail_post" aria-label="thumbnail_post" style="background-image:url('{{ thumbnail_path }}') !important"></a>
                    </div>

                    <div class="box_contents">
                        <a href="{{ sub_page.url }}" class="title_post">{{ sub_page.title }}</a>
                        <a href="{{ sub_page.url }}" class="txt_post">
                            {{ sub_page.content | markdownify | strip_html }}
                        </a>
                        <div class="info_post">
                            {%- assign sub_page_tree = sub_page.path | split: "/" -%}
                            {%- assign parent_category = "None" -%}
                            {%- assign parent_url = "/" | append: sub_page_tree[0] -%}
                            {% if sub_page_tree.size > 2 %}
                                {%- assign parent_category = sub_page_tree[1] -%}
                                {%- assign parent_url = parent_url | append: "/" | append: sub_page_tree[1] -%}
                            {% endif %}
                            <a href="{{ parent_url }}" class="category">{{ parent_category }}</a>
                            <span class="date">· {{ sub_page.date }}</span>
                        </div>
                    </div>
                </div>
            </li>
        {% endif %}
    {%- endfor -%}
    </ul>
</div>
<div class="pagination">
    <nav class="pagination-container">
        <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
            &lt;
        </button>
    
        <div id="pagination-numbers"></div>
      
        <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
            &gt;
        </button>
    </nav>
</div>