{%- assign list_pages = site.pages | sort:"date" | reverse -%}

<h3 class="category-header">
    {% if page_level == 1 %}
        All Posts
    {% else %}
        {{ page.title }}
    {% endif %}
</h3>
<div id="category-list">
    <ul class="paginated-list" data-current-page="1" aria-live="polite">
    {%- for sub_page in list_pages -%}
        {%- assign page_url = page.url | remove: 'index.html' -%}
        {%- assign checkArray = sub_page.url | split:page_url -%} <!-- check whether the post belongs to the parent category -->
        {% if checkArray[0] == "" and sub_page.type == "post" and is_post[0] != sub_page.url %}
            <li class="paginated-item">
                <div id="article_content">
                    <div class="thumbnail_zone">
                        {% if sub_page.thumbnail != nil %}
                            <a href="{{ sub_page.url }}" class="thumbnail_post" aria-label="thumbnail_post" style="background-image:url('{{ sub_page.thumbnail }}') !important"></a>
                        {% else %}
                            <a href="{{ sub_page.url }}" class="thumbnail_post empty" aria-label="thumbnail_post" style="background-image:url('/assets/img/thumbnail/empty.jpg') !important"></a>
                        {% endif %}
                    </div>

                    <div class="box_contents">
                        <a href="{{ sub_page.url }}" class="title_post">{{ sub_page.title }}</a>
                        <a href="{{ sub_page.url }}" class="txt_post">
                            {{ sub_page.content | markdownify | strip_html }}
                        </a>
                        <div class="info_post">
                            {%- assign sub_page_tree = sub_page.path | split: "/" -%}
                            {% if sub_page_tree.size > 2 %}
                                <a href="{{ '/' | append: sub_page_tree[1] }}" class="category">{{ sub_page_tree[1] }}</a>
                            {% else %}
                                <span class="category">None</span>
                            {% endif %}
                            <span class="date">· {{ sub_page.date | date: "%Y-%m-%d" }}</span>
                        </div>
                    </div>
                </div>
            </li>
        {% endif %}
    {%- endfor -%}
    </ul>
</div>
<div class="pagination">
    <nav class="pagination-container">
        <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
            &lt;
        </button>
    
        <div id="pagination-numbers"></div>
      
        <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
            &gt;
        </button>
    </nav>
</div>