{%- assign list_pages = site.pages | sort:"date" | reverse -%}
{%- assign post_counts = 0 -%}

<h1 class="category-header">
    {% if page_level == 1 %}
        All Posts
    {% else %}
        {{ category_title }}
    {% endif %}
</h1>
<div id="category-list">
    <ul class="paginated-list" data-current-page="1" aria-live="polite">
    {%- for sub_page in list_pages -%}
        {%- assign page_url = page.url | remove: 'index.html' -%}
        {% if sub_page.url contains page_url %}
        {% unless sub_page.url contains "index.html" %}
            {%- assign post_counts = post_counts | plus:1 -%}
            <li class="paginated-item">
                <div id="article_content">
                    <div class="thumbnail_zone">
                        {% if sub_page.thumbnail != nil %}
                            {%- assign thumbnail_url = sub_page.thumbnail -%}
                            {%- assign check_localasset = thumbnail_url | split:'/' -%}
                            {% if check_localasset[0] == '' %}
                                {%- assign thumbnail_url = thumbnail_url | prepend: site.baseurl -%}
                            {% endif %}
                            <a href="{{ sub_page.url | prepend: site.baseurl }}" class="thumbnail_post" loading="lazy" aria-label="thumbnail_post" style="background-image:url('{{ thumbnail_url }}') !important"></a>
                        {% else %}
                            <a href="{{ sub_page.url | prepend: site.baseurl }}" class="thumbnail_post empty" loading="lazy" aria-label="thumbnail_post" style="background-image:url('{{ '/assets/img/thumbnail/empty.jpg' | prepend: site.baseurl }}') !important"></a>
                        {% endif %}
                    </div>
                    <div class="box_contents">
                        <a href="{{ sub_page.url | prepend: site.baseurl }}"><h1 class="title_post">{{ sub_page.title }}</h1></a>
                        <a href="{{ sub_page.url | prepend: site.baseurl }}" class="txt_post">
                            {{ sub_page.content | markdownify | strip_html }}
                        </a>
                        <div class="info-post">
                            {%- assign sub_page_tree = sub_page.path | split: "/" -%}
                            {% if sub_page_tree.size > 2 %}
                                <a href="{{ '/' | append: sub_page_tree[1] | prepend: site.baseurl }}" class="category">{{ sub_page_tree[1] }}</a>
                            {% else %}
                                <span class="category">None</span>
                            {% endif %}
                            {%- assign posting_date = sub_page.date | date: "%Y-%m-%d" -%}
                            {% if posting_date != "1900-01-01" %}
                                <span class="date">· {{ sub_page.date | date: "%Y-%m-%d" }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endunless %}
        {% endif %}
    {%- endfor -%}
    </ul>
    {% if post_counts == 0 %}
        <div class="no-posts">
            <img src="{{ '/assets/img/sorry.png'' | prepend: site.baseurl }}"></img>
            <h1>Sorry, No posts found</h1>
        </div>
    {% endif %}
</div>
<div class="pagination">
    <nav class="pagination-container">
        <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
            &lt;
        </button>
    
        <div id="pagination-numbers"></div>
      
        <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
            &gt;
        </button>
    </nav>
</div>