<div class="post-header">
    <div class="thumbnail">
        <div class="transbox">
            {% if page.title %}
                <span class="post-title">{{ page.title }}</span>
            {% endif %}
            <div class="post-info">
                {% if page_level > 2 %}
                    <a href="{{ '/' | append: page_tree[0] }}" class="link-category">{{ page_tree[0] }}</a>
                {% else %}
                    <span class="no-category">None</span>
                {% endif %}
                <span class="post-date">
                    {% if page.title %}
                        · {{ page.date | date: "%Y-%m-%d" }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
<main>
    {{ content }}
</main>