<div class="post-header">
    <div class="thumbnail">
        <div class="transbox">
            {% if page.title %}
                <span class="post-title">{{ page.title }}</span>
            {% endif %}
            <div class="post-info">
                <span class="info-box category-box">
                    <i class="fa-solid fa-folder"></i>
                    {% if page_level > 2 %}
                        <a href="{{ '/' | append: page_tree[0] }}">{{ page_tree[0] }}</a>
                    {% else %}
                        None
                    {% endif %}
                </span>
                <span class="info-box">
                    <i class="fa-regular fa-calendar-days"></i>
                    {% if page.title %}
                        {{ page.date | date: "%Y-%m-%d" }}
                    {% endif %}
                </span>
                <span class="info-box">
                    <i class="fa-solid fa-eye"></i>
                    <span id="page-hits"></span>
                </span>
                <span class="info-box">
                    <i class="fa-solid fa-comments"></i>
                    <span id="num-comments"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<main>
    {{ content }}
    {% if site.github_username %}
        <!-- see https://giscus.app/ -->
        <script src="https://giscus.app/client.js"
                data-repo="{{ site.github_username }}/{{ site.github_username }}.github.io"
                data-repo-id="[repo-id]"
                data-category="[category]"
                data-category-id="[category-id]"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="preferred_color_scheme"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
        <div class="giscus" style="margin: 4rem auto;"></div>
    {% endif %}
</main>