<div id="search">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    <div class="search-box">
        <h1>Touch background to close</h1>
        <div class="input-box">
            <input id="search-input"
                type="search" 
                tabindex="1" 
                spellcheck="false" 
                placeholder="Search..."
            />
            <button id="btn-clear">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <ul id="search-result"></ul>
    </div>
</div>