{%- assign page_list = site.pages 
    | where_exp: "item", "item.title != nil"
-%}
<script defer>
    var posts = [];

    {% for page in page_list %}
        {%- assign psearch_tree = page.path | split: "/" -%}

        {% if psearch_tree.last == "index.md" %}
            {%- assign p_type = "category" -%}
        {% else %}
            {%- assign p_type = "post" -%}
        {% endif %}

        {%- assign tree_len = psearch_tree.size | minus: 2 -%}
        {%- assign psearch_tree = psearch_tree | slice:1, tree_len -%}
        {%- assign p_link = "" -%}
        {%- for sub_tree in psearch_tree -%}
            {% if forloop.last %}
                {%- assign p_link = p_link | append: sub_tree -%}
            {% else %}
                {%- assign p_link = p_link | append: sub_tree | append: " > " -%}
            {% endif %}
        {%- endfor -%}

        {%- assign thumbnail_url = page.thumbnail -%}

        {% if thumbnail_url != nil %}
            {%- assign check_localasset = thumbnail_url | split:'/' -%}
            {% if check_localasset[0] == '' %}
                {%- assign thumbnail_url = thumbnail_url | prepend: site.baseurl -%}
            {% endif %}
        {% else %}
            {%- assign thumbnail_url = '/assets/img/thumbnail/empty.jpg' | prepend: site.baseurl -%}
        {% endif %}

        posts.push({
            'title'    : "{{ page.title | escape }}",
            'path'     : "{{ p_link }}",
            'type'     : "{{ p_type }}",
            'tags'     : "{{ page.tags | join: ', ' }}",
            'url'      : "{{ page.url | prepend: site.baseurl }}",
            'image'    : "{{ thumbnail_url }}",
            'date'     : "{{ page.date | date: '%Y-%m-%d' }}"
        });
    {% endfor %}

    searchPost(posts);

    {% if page_type == "post" %}
        searchRelated(posts);
    {% endif %}
</script>