<div class="sidebar sidebar-left">
    <div class="side-banner">
        <a href="/" class="site-avatar">
            <img src="{{ '/assets/img/favicon.webp' }}">
        </a>
        <h1 class="site-name">
            <a href="/">Pyro-Maniac</a>
            <button type="button" class="open-nav" id="open-nav" aria-pressed="false"><i class="fa fa-bars"></i></button>
        </h1>
    </div>
    {% include navigation.html %}
    <div class="sidebar-footer">
        <h2 class="footer-heading">
            Copyright © | <a href="{{ site.repo_url }}">Pyro-Maniac</a>
        </h2>
    </div>
</div>
<div class="sidebar sidebar-right">
    <div class='toc-fixed'></div>
    {%- if page.theme == 'blog' and page.parent -%}
    <div class="help_box">
        <div class="speech_area">
            <div class="speech_bubble" id="help_text">얘, 뭐가 잘 안되니?
            ⬇️질문✏️ 남기기⬇️
            </div>
        </div>
        <img src="{{ '/assets/img/helper.png' }}" class="helper_img" id="help_img"></img>
    </div>
    {%- endif -%}
</div>