#about{
    display: flex;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;

    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;

    &.open {
        min-height: 300px;
        height: calc(100vh - 256px);

        @include mq(desktop){
            height: calc(100vh - 25vw);
        }
    }

    &.fold {
        min-height: 256px;
        height: calc(100vh - 300px);

        @include mq(desktop){
            height: calc(100vh - 28.5vw);
        }
    }
}

.about-page{
    margin: 0 auto;

    h2 {
        font-size: 2rem;
        font-family: 'Lora', 'Times New Roman', serif;
        font-weight: 600;
        color: #343a40;
        margin: 0 auto;
    }

    .page-description {
        font-size: 16px;
        font-weight: 200;
        background: #eee;
        margin: var(--font-size-sm) auto calc(var(--font-size-sm)/2) auto;
        padding: 0.75rem 1.5rem;
        border-radius: 0.3rem;

        span {
            color: #343a40; 
            font-style: italic;
            font-weight: 500;
        }

        @include mq(desktop){
            font-size: 1.25rem;
        }
    }

    .down {
        display: block;
        cursor: pointer;
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 1rem;

        &.btn-open {
            opacity: 1;
            height: 2.5rem;
        }

        span {
            display: table;
            width: 1rem;
            height: 1rem;
            border-bottom: 0.25rem solid $color-navy;
            border-right: 0.25rem solid $color-navy;
            transform: rotate(45deg);
            margin: -0.625rem auto;
            animation: animate 2s infinite;
        }

        span:nth-child(2) {
            animation-delay: -0.2s;
        }
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-0.625rem, -0.625rem);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(0.625rem, 0.625rem);
        }
    }
}