.list-of-contents {
    padding: 0;
    margin: 0 auto;
    width: 100%;

    @include mq(tablet){
        min-width: 832px;
        width: 81.25%;
    }

    /*
    @include mq(desktop){
        width: 81.25%;
    }
    */
}

.list-of-contents .content {
    height: calc(100vh - min(320px, 25vw));
    min-height: 384px;
    list-style-type: none;
    display: block;
    margin-bottom: var(--xl);

    @include mq(tablet){
        display: flex;
    }
}

.icon-box {
    width: 300px;
    display: flex;
    text-align: center;
    margin: 0 auto 4rem auto;

    @include mq(tablet){
        width: 40%;
        height: 100%;
        margin: 0;
    }

    svg {
        height: 80%;
        margin: auto;
        transition: 1s ease;

        image {
            height: 100%;
        }
    }

    svg:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }
}

.description-box {
    display: flex;
    position: relative;

    @include mq(tablet){
        width: 60%;
        height: 100%;
    }

    div {
        height: 30%;
        margin: auto 1rem;
        padding: 2.25rem 1rem;
        display: flex;
        position: relative;

        border: solid 2px $color-darkbeige;

        @include mq(tablet){
            margin: auto var(--wfont-size-md);
            padding: var(--wfont-size-sm) var(--wfont-size-ml);
        }

        &:before,
        &:after { 
            content: ""; 
            position: absolute;
        }

        &:before { 
            left: -8px; top: -8px; width: 50px; height: 50px; 
            z-index: -1; 
            background: white; 
            border: solid 4px rgba(100, 100, 150, 0.8); 
            border-width: 4px 0 0 4px; 
            box-shadow: -2px -2px 0 0 #fff, 
                        -5px -5px 4px 0 rgba(100, 100, 100, 0.5); 
        }

        &:after { 
            background: white; 
            left: auto; top: auto; right: -8px; bottom: -8px; 
            width: 50px; height: 50px;  z-index: -1;  
            border: solid 4px rgba(100, 100, 150, 0.8); 
            border-width: 0 4px 4px 0;
            box-shadow: 2px 2px 0 0 #fff, 
                        5px 5px 4px 0 rgba(100, 100, 100, 0.5); 
        }

        &:hover {
            a {
                box-shadow: inset 128px 0 0 0 $color-lightyellow;
                font-weight: 600;
            }

            strong {
                color:coral;
            }
        }

        h2 {
            position: absolute;
            margin: 0 10%;    
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.25rem;
            color: $color-wenge;
            top: -2rem;

            @include mq(tablet){
                font-size: var(--wfont-size-ms);
                top: calc(-1*var(--wfont-size-ml));
            }
        }

        .number::before {
            content: "";
            position: absolute;
            top: calc(-2*var(--wfont-size-ms));
            right: calc(-1*var(--wfont-size-xs));
            width: calc(2*var(--wfont-size-ms));
            height: calc(4*var(--wfont-size-ms));
            transform: rotate(-45deg);
            z-index: -1;
            box-shadow: 0 0 .7rem rgba(0, 0, 0, .5);
        }

        .theme1::before {
            background: $color-pink;
        }

        .theme2::before {
            background: $color-blue;
        }

        .theme3::before {
            background: $color-lightyellow;
        }
        
        .number {
            position: absolute;
            margin: 0;
            top: var(--wfont-size-xxs);
            right: var(--wfont-size-xs);
            font-size: 1.5rem;
            font-weight: 800;
            z-index: -1;
            color: fade-out(#fff, .1);
        }

        p {
            font-family: 'Open Sans';
            line-height: 1.5;
            font-size: var(--wfont-size-sm);
            color: #343a40;
            margin: auto;

            a, strong {
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            }

            a:-webkit-any-link {
                color: #007bff;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}