#contents{
    text-align: center;
    min-height: 320px;
    height: calc(28.5vw - 3.75rem);

    p {
        font-family: 'Open Sans';
        line-height: 1.5;
        margin: 0;
        font-size: 12px;

        @include mq(desktop){
            font-size: calc(3*var(--font-size-sm)/4);
        }
    }

    a:-webkit-any-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color:#0085A1;
        text-decoration: underline;
    }
}

.main-loc {
    width: 900px;
    margin: 0 auto;
    max-width: 90rem;

    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .loc-table {
        flex: 1 1 0;
        border-spacing: 0 calc(3*var(--font-size-sm)/4);
        table-layout: fixed;
        width: 100%;
        margin: 0 auto;

        th {
            font-family: 'Lora', 'Times New Roman', serif;
            text-align: center;
            font-size: var(--font-size-sm);
            color: #343a40;
        }
    }

    svg {
        width: auto;
        height: var(--img-size-md);

        image {
            width: auto;
            height:100%;
        }
    }

    @include mq(desktop){
        width: 90%;
        flex-wrap: nowrap;
    }
}