#contents{
    text-align: center;

    p {
        font-family: 'Open Sans';
        line-height: 1.5;
        margin: 0;
        font-size: 12px;

        @media only screen and (min-width:$cut) {
            font-size: calc(3*var(--font-size-sm)/4);
        }
    }

    a:-webkit-any-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color:#0085A1;
        text-decoration: underline;
    }
}

.main-loc {
    width: 900px;
    margin: 0 auto;
    max-width: 90rem;

    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .loc-table {
        flex: 1 1 0;
        border-spacing: 24px;
        table-layout: fixed;
        width: 100%;

        th {
            font-family: 'Lora', 'Times New Roman', serif;
            text-align: center;
            font-size: var(--font-size-sm);
            color: #343a40;
        }

        @media only screen and (min-width: $cut) {
            border-spacing: var(--font-size-md);
        }
    }

    svg {
        width: auto;
        height: 128px;
        margin: 0 12px;

        @media only screen and (min-width: $cut) {
            height: var(--img-size-md);
            margin: 0 var(--font-size-sm);
        }

        image {
            width: auto;
            height:100%;
        }
    }

    @media only screen and (min-width: $cut) {
        width: 90%;
        flex-wrap: nowrap;
    }
}