body.dark-theme {

a, span, h1, h2, h3 { color: lightgrey; }

#stars { background: #1E1E1F; }

.sidebar-left { background-color: #313132; }

.site-name {
    box-shadow: 0px 4px 8px 0 black;
}

.nav-lh .fa { color: goldenrod; }

.nav-list-expander {
    color: lightgrey;

    &:hover { color: goldenrod; }
}

.nav-list li > .nav-list { background: #1E1E1F; }

.side-banner {
    button {
        background-color: #313132;

        &:hover { background-color: #1E1E1F; }
    }

    i { color: indianred; }
}

#contact{
    ul>li>a {
        i { color: lightgrey; }

        &:hover{
            i { color: indianred; }
        }
    }

    a { color: yellowgreen; }
}

.sidebar-right .toc .toc-list .is-active-link{ color: indianred; }

#post {
    .inner-header { background: #464647; }

    .inner-content { background: #313132; }
}

.transbox { background-color: rgba(64, 64, 64, 0.5); }

.link-category,
.no-category{
    color: greenyellow;
}

.link-category {
    background-image: linear-gradient(
        transparent 50%,
        $color-darkbrown 4px,
    );
}

.post-title,
.post-date {
    color: #ddd;
}

main {
    h1, h2, h3, p { color: #969697; }

    a { 
        color: dodgerblue; 

        &::before {
            color: greenyellow;
            text-decoration-color: greenyellow;
        }
    }

    code,
    .highlighter-rouge .highlight {
        border: 1px solid dimgrey;
        background-color: #464647;
        color: goldenrod;
    }

    blockquote {
        background: #1E1E1F;
        border-left: 4px solid #464647;
    }

    table { background-color: #464647; }

    table, head { box-shadow: 0 0 32px 0 rgba(128,128,128,.15); }

    th, td { border: 2px solid #3c3c3d; }

    thead th, 
    tbody td {
        color: lightgrey;
    }

    hr { background: lightgrey; }

    img + em,
    li {
        color: lightgrey;
    }
}

.category-tree a { color: goldenrod; }

.category-header {
    color: grey;
    text-decoration: underline greenyellow;
}


#article_content {
    border-bottom: 2px solid #313132;

    .box_contents {
        background-color: #464647;
        background-image: none;
    }

    .title_post,
    .txt_post,
    .date {
        color: lightgrey;
    }

    .category{ color: greenyellow; }
}

.pagination-number,
.pagination-button {
    color: lightgrey;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: grey;
}

#search {
    background: rgba(64, 64, 64, 0.875);

    ul {
        border-bottom: 2px solid #464647;
        box-shadow: 0px 4px 8px 0 #1E1E1F;

        i { color: grey; }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: grey;
        }
    }

    input {
        color: lightgrey;

        &::placeholder { color: lightgrey; }
    }
}

.input-box {
    &:before { background: #5a5a5b; }

    &:after { opacity: 0.5; }

    button { color: lightgrey; }
}

.result-item{
    border: 1px solid #464647;
    background: #313132;

    &:hover { background: $color-wenge; }
}

@include mq(tablet){
    #article_content .box_contents { background-color: rgba(70, 70, 70, 0.95); }
}

@include mq(desktop) {
    .sidebar-left { background: none; }

    .site-name { box-shadow: none; }

    .nav-lh {
        &:before { background: rgba(#464647, 1); }

        &:hover:before { background: rgba(#464647, .75); }
    }

    .nav-list li > .nav-list { background: none; }

    #contact{
        hr { border-top: 1px solid dimgrey; }
    
        h3 { background-color: #1E1E1F; }
    }

    #post .inner-content { box-shadow: none; }
}

}