body.dark-theme {

a, span { color: $color-gray; }

#stars { background: #333; }

.sidebar-left { background-color: $color-charcoal; }

.site-name {
    box-shadow: 0px 4px 8px 0 $color-black;

    a { color: #00A080; }
}

.nav-lh .fa { color: $color-pink; }

.nav-list-expander {
    color: #ddd;

    &:hover { color: $color-pink; }
}

.nav-list li > .nav-list { background: $color-black; }

.side-banner {
    button {
        background-color: $color-charcoal;

        &:hover { background-color: $color-black; }
    }

    i { color: $color-lightgreen; }
}

.sidebar-right .toc .toc-list .is-active-link{ color: $color-orange; }

#post {
    .inner-header { background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(112,112,112,1) 100%); }

    .inner-content { background: #444; }
}

.transbox { background-color: rgba(64, 64, 64, 0.8125); }

.link-category,
.no-category{
    color: $color-lightgreen;
}

.link-category {
    background-image: linear-gradient(
        transparent 50%,
        $color-darkbrown 4px,
    );
}

.post-title,
.post-date {
    color: #ddd;
}

main {
    h1, h2, h3, p { color: #eee; }

    a { color: $color-blue; }

    code,
    .highlighter-rouge .highlight {
        border: 1px solid $color-grey;
        background-color: #3A3A3A;
        color: $color-lightyellow;
    }

    pre button {
        color: #eee;
        background-color: $color-wenge;
        box-shadow: 2px 2px $color-lightgreen;
    }

    blockquote {
        background: #2A3936;
        border-left: 4px solid #3A3A3A;
    }

    table { background-color: #353A3E; }

    table, head { box-shadow: 0 0 40px 0 rgba(255,255,255,.15); }

    th, td { border: 2px solid #444; }

    thead th, 
    tbody td {
        color: #eee;
    }

    hr { background: #eee; }

    img + em,
    li {
        color: #eee;
    }
}

.category_name {
    p { color: $color-orange; }

    h3 {
        color: $color-orange;
        text-decoration: underline $color-lightgreen;
    }
}

#article_content {
    border-bottom: 2px solid #555;

    .box_contents {
        background-color: #444;
        background-image: none;
    }

    .title_post,
    .txt_post,
    .date {
        color: #eee;
    }

    .category{ color: $color-lightgreen; }
}

.pagination-number,
.pagination-button {
    color: #eee;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #888;
}

.sidebar-footer a:-webkit-any-link {
    color: $color-lightgreen;
}

#search {
    background: rgba(64, 64, 64, 0.875);

    ul {
        border-bottom: 2px solid #555;
        box-shadow: 0px 4px 8px 0 #333;

        i { color: #aaa; }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #aaa;
        }
    }

    input {
        color: #eee;

        &::placeholder { color: #ccc; }
    }
}

.input-box {
    &:before { background: #555; }

    &:after { opacity: 0.5; }

    button { color: $color-lightgreen; }
}

#result-item{
    border: 1px solid #555;
    background: #333;

    &:hover { background: $color-wenge; }
}

@include mq(tablet){
    #article_content .box_contents { background-color: rgba(96, 96, 96, 0.95); }
}

@include mq(desktop) {
    .sidebar-left { background: none; }

    .site-name { box-shadow: none; }

    .nav-lh {
        &:before { background: rgba($color-grey, 1); }

        &:hover:before { background: rgba($color-grey, .375); }
    }

    .nav-list li > .nav-list { background: none; }

    #post .inner-content { box-shadow: 0 16px 16px 8px rgba(224, 220, 209, 0.25); }
}

}