.site-footer {
    text-align: center !important;
    align-items: center !important;

    background-color: #eee;
    padding: 1rem 0;

    .footer-heading {
        font-size: 1.125rem;
        font-family: 'Lora', 'Times New Roman', serif;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 200;

        a:-webkit-any-link {
            color: #cc693c;
            cursor: pointer;
            text-decoration: none;
        }
    }
}