.site-footer {
    text-align: center !important;
    align-items: center !important;

    background-color: #eee;
    padding: 1.25rem 0;

    span {
        font-size: 1rem;
        font-family: 'Lora', serif;
    }
}

.footer-heading {
    margin: 0 auto;

    a:-webkit-any-link {
        color: $color-darkorange;
    }
}

.sidebar-footer{
    display: none;
    position: fixed;
    bottom: 1rem;
    width: $leftbar-wd;

    @media (min-width: 1025px) and (min-height: 640px){
        display: flex;
    }
}