.site-footer {
    text-align: center !important;
    align-items: center !important;

    background-color: #eee;
    padding: 1.25rem 0;
}

.footer-heading {
    font-size: 1rem;
    font-family: 'Lora', 'Times New Roman', serif;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;

    a:-webkit-any-link {
        color: $color-darkorange;
        cursor: pointer;
        text-decoration: none;
    }
}

.sidebar-footer{
    display: none;
    position: fixed;
    bottom: 1rem;
    width: $leftbar-wd;

    .footer-heading {
        font-size: 1rem;
    }

    @media (min-width: 1024px) and (min-height: 640px){
        display: flex;
    }
}