#header{
    text-align: center !important;
    align-items: center !important;

    p {
        font-family: 'Open Sans';
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        color:#FFF;
    }
}

.main-banner {
    background: url(/assets/img/background.webp);
    display: flex;
    flex-wrap:wrap;
    vertical-align: bottom;
    min-height:256px;
    background-repeat: no-repeat;
    background-size: 1024px;

    @include mq(desktop){
        height: 25vw;
        background-size: 100%;
    }
}

.title {
    z-index: 1;
    margin: var(--font-size-md) auto var(--font-size-xl) auto;
    width: 100%;

    h1 {
        margin: 0 auto;
    }

    .site-owner {
        font-size: var(--font-size-lg);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .blink-cursor {
        position: relative;
        background: #fff;
        margin-left: var(--font-size-xs);
        line-height: var(--font-size-lg);
        -webkit-animation: blink 1s infinite;
        width: var(--font-size-sm);
        height: var(--font-size-lg);
    }

    @-webkit-keyframes blink {
        0% {background: transparent}
        50% {background: #fff}
        100% {background: transparent}
    }

    .site-description {
        font-size: var(--font-size-ms);
        display: block;
        margin: var(--font-size-sm) auto 0 auto;
        color: $color-orange;
    }
}

.banner-icons {
    display: block;
    width: 100%;
    margin: 0 auto var(--font-size-sm) auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        outline: 0 !important;
        border: none !important;
        outline-style: none !important;
        -moz-outline-style: none !important;
        padding: none;
        margin: none;
    }

    .icon {
        color: #FFF;
        width: var(--font-size-sm);
        height: var(--font-size-sm);
        font-size: var(--font-size-sm);
        padding: var(--font-size-xs);
        margin: 0 var(--font-size-xs);
        border-radius: 50%;
        border: 2px solid #FFF;
        transition: all .5s;
        display: inline-block;

        &:hover {
            color: $color-charcoal;
            background: #FFF;
        }

        &:active {
            color: $color-charcoal;
            background: #FFF;
        }
    }
}