#header{
    text-align: center;

    p {
        font-family: 'Open Sans';
        line-height: 1.5;
    }
}

.main-banner {
    background: url(/assets/img/background.png);
    display: flex;
    vertical-align: bottom;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;

    .header {
        font-family: 'Montserrat', sans-serif;
        z-index: 1;
        text-align: center;
        color:#FFF;
        margin: 40px auto;
        line-height: 1.5;

        @media only screen and (min-width:$cut){
            margin: var(--font-size-lg) auto;
        }
    
        .site-title {
            font-size: 40px;
            display: block;
            color: #FFF;
    
            @media only screen and (min-width:$cut){
                margin: 0;
                font-size: var(--font-size-lg);
            }
        }
    
        .site-description {
            font-size: 16px;
            margin-bottom: 24px;
            display: block;
            color: #FFF;
    
            @media only screen and (min-width:$cut){
                font-size: var(--font-size-sm);
                margin-bottom: var(--font-size-md);
            }
        }
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        outline: 0 !important;
        border: none !important;
        outline-style: none !important;
        -moz-outline-style: none !important;
        padding: none;
        margin: none;
    }

    .icon {
        text-align: center;
        color: #FFF;
        width: 16px;
        height: 16px;
        font-size: 16px;
        padding: 8px;
        margin: 0.5rem;
        border-radius: 50%;
        border: 2px solid #FFF;
        transition: all .5s;

        &:hover {
            color: $main;
            background: #FFF;
        }

        &:active {
            color: $main;
            background: #FFF;
        }

        @media only screen and (min-width:$cut) {
            width: var(--font-size-sm);
            height: var(--font-size-sm);
            font-size: var(--font-size-sm);
            line-height: var(--font-size-sm);
            padding: var(--font-size-ss);
        }
    }
}

.about-page{
    margin: 24px auto 0;
    width: 90%;
    max-width: 1024px;
    min-height: 50vh;
    font-family: 'Lora', 'Times New Roman', serif;

    @media only screen and (min-width:$cut) {
        margin-top: var(--font-size-md);
    }
    
    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #343a40;
    }

    .page-description {
        font-size: 16px;
        font-weight: 200;
        background: #eee;
        padding: 8px 16px;
        border-radius: 0.3rem;

        span {
            color: #343a40; 
            font-style: italic;
            font-weight: 500;
        }

        @media only screen and (min-width:$cut) {
            font-size: 1.25rem;
            padding: 0.75rem 1.5rem;
        }
    }

    .down {
        color: #343a40;
        font-size: 40px;
        margin: 16px auto 0;
        width: 40px;
        display: block;
        cursor: pointer;

        i {
            &:hover {
                color: #cc693c;
            }
        }

        @media only screen and (min-width:$cut) {
            font-size: var(--font-size-lg);
            margin-top: var(--font-size-sm);
            width: var(--font-size-lg);
        }
    }
}