.post {
    max-width: $content-wd;
    margin: auto;

    @include mq(desktop){
        margin-left: $leftbar-wd;
        margin: 4rem 0;
        display: inline-block;
    }

    @include mq(wide){
        margin-left: calc((100vw - #{$content-wd})/2);
    }
}

.inner-header {
    display: none;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%);
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;

    @include mq(desktop){
        display: block;
    }

    .dot {
        height: 1rem;
        width: 1rem;
        margin: 0 0.25rem;
        border-radius: 50%;
        display: inline-block;
    }
}

.inner-content {
    background: #fff;

    img {
        display: block;
        text-align: center;
        max-width: 100%;
        margin: auto;
    }

    .thumbnail {
        display: block;
        width: 100%;
        aspect-ratio: 2/1;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 16px 16px 8px rgba(31, 35, 46, .15);
    }

    .img-xs {
        max-width: 12.5%;
    }

    .img-sm {
        max-width: 25%;
    }

    .img-md {
        max-width: 50%;
    }

    .img-lg {
        max-width: 75%;
    }

    @include mq(desktop){
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 16px 16px 8px rgba(31, 35, 46, 0.15);

        .thumbnail {
            aspect-ratio: 2.75/1;
        }
    }
}

.transbox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 87.5%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8125);

    .post-title {
        margin-top: 0;
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        color: $color-darkbrown;
        word-wrap: break-word;
    }

    .post-info {
        margin-top: 1.25rem;
        font-size: 1.25rem;
        font-family: 'Nunito Sans', sans-serif;
    
        .link-category,
        .no-category{
            color: $color-darkorange;
            font-weight: 600;
            text-decoration: none;
        }

        .link-category {
            transition: 0.5s ease;
            background-image: linear-gradient(
                transparent 50%,
                $color-lightyellow 4px,
            );
            background-size: 0;
            background-repeat: no-repeat;
            display: inline;

            &:hover {
                background-size: 100%;
            }
        }
    }

    @include mq(tablet){
        padding: 2rem;

        .post-title {
            font-size: 2.25rem;
        }

        .post-info {
            margin-top: 2.25rem;
        }
    }

    /*
    @include mq(desktop){
        background: linear-gradient(to left, rgba(241,235,234,0.5) 87.5%, rgba(241,235,234,1));
    }
    */
}

main {
    padding: 1rem;
    margin: auto;
    font-size: 0.875rem;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 200%;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;

    * {
        margin: auto;
    }

    h1, h2, h3 {
        font-family: "Helvetica";
        margin-bottom: -1.5rem;
    }

    h1 {
        font-size: 1.75rem;
        padding-top: 3rem;
    }

    h2 {
        font-size: 1.375rem;
        padding-top: 2.25rem;
    }

    h3 {
        font-size: 1.125rem;
        padding-top: 1.75rem;
    }

    p {
        text-align:justify;
    }

    u {
        color: $color-rose;
        font-weight: 500;
        text-underline-offset: 2px;
    }

    em {
        padding-right: 2px;
    }

    a {
        color: $color-blue;
        text-decoration: none;
        background-color: transparent;
    }

    p, ul, hr, table {
        margin-top: 2rem;
    }

    code {
        margin: 0 2px;
        padding: 1px 5px;
        border: 1px solid #eaeaea;
        background-color: #f4f4f4;
        border-radius: 3px;
        font-family: 'Consolas', Courier, monospace;
        color: $color-darkorange;
        position: relative;
        top: -1px;
        vertical-align: middle;
    }

    .highlighter-rouge .highlight {
        padding: 1rem;
        background: #f4f4f4;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        margin: 0.5rem auto;

        pre {
            margin: 0;
            padding: 0;
            border: none;
            overflow-x: auto;
        }

        code {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border: none;
        }
    }

    blockquote {
        background: $color-beige;
        border-left: 4px solid $color-darkbeige;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1);
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.5rem auto;
        word-break: break-all;

        p {
            margin: 0;
            padding: 1rem 0;
        }
    }

    .table-wrapper {
        overflow-x: auto;
    }

    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        overflow-x: auto;
        white-space: nowrap;
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        border-collapse: collapse;
        font-size: 1rem;
        line-height: 1.5;
        -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);

        thead {
            font-family: 'Nunito Sans', sans-serif;;
            -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
        }

        th, td {
            border: 1px solid $color-lightgrey;
            word-wrap: break-word;
            white-space: initial;
            max-width: 16rem;
        }

        thead tr {
            height: 3.5rem;
            font-weight: 500;
        }

        thead th {
            color: $color-darkbrown;
            background-color: transparent;
            padding: 1rem;
        }

        tbody tr {
            height: 3rem;
        }

        tbody td {
            color: $color-darkgrey;
            padding: 1rem;
        }

        tr:first-child th {
            border-top: 0;
        }

        td:first-child,
        th:first-child {
            border-left: 0;
        }

        td:last-child,
        th:last-child {
            border-right: 0;
        }
    }

    li {
        padding: 0.25rem 0;
    }

    hr {
        border: 0;
        height: 2px;
        margin-bottom: -1.5rem;
        background: $color-darkbeige;
    }

    img + em {
        display: block;
        text-align: center;
        color: $color-grey;
        font-size: 0.875rem;
        font-style: normal;
    }

    @include mq(tablet){
        padding: 2.5rem;
        padding-top: 0;
        font-size: 1.125rem;

        h1, h2, h3, hr {
            margin-bottom: -2.25rem;
        }

        h1 {
            font-size: 2.25rem;
            padding-top: 5rem;
        }
    
        h2 {
            font-size: 1.75rem;
            padding-top: 4rem;
        }
    
        h3 {
            font-size: 1.375rem;
            padding-top: 3rem;
        }

        p, ul, hr, table {
            margin-top: 3rem;
        }

        code {
            font-size: 1rem;
        }

        blockquote p {
            font-size: 1rem;
        }
    }
}