.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $color-beige;

    @include mq(tablet){
        position: fixed;
        width: $sidebar-wd;
        height: 100%;
    }

    @include mq(desktop){
        width: calc(#{$sidebar-wd} + (100% - #{$sidebar-wd + $content-wd})/3);
        min-width: $sidebar-wd;
    }
}

.side-banner {
    width: 100%;
    margin: auto;
    text-align:center;

    @include mq(tablet){
        width: $sidebar-wd;
    }

    .site-avatar {
        margin:0 auto;
        display: block;
        max-width: 8rem;
        max-height: 8rem;

        img {
            display: none;
            border-radius: 2px;
            max-width: 100%;
            width: auto !important;
            height: auto !important;

            @include mq(tablet){
                display: inline-block;
            }
        }
    }

    .site-name {
        margin:1rem auto;
        cursor: pointer;
        font-family: 'GUERRILLA', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            color: $color-brown;
        }

        a:hover{
            color:$color-orange;
        }
    }

    .open-nav {
        position: absolute;
        background-color: $color-beige;
        background-repeat: no-repeat;
        border: 0;
        width: 4rem;
        height: 4rem;
        top: 2px;
        right: 4rem;
        font-size: 1.5rem;
        color: $color-brown;

        @include mq(tablet){
            display: none;
        }
    }

    .open-nav:hover {
        background-color: rgba(212, 201, 191, 0.7);
    }
}

.navigation {
    display: none;
    width: 100%;

    @include mq(tablet){
        display: block;
    }

    @include mq(desktop){
        width: $sidebar-wd;
    }
}

.nav-item {
    display: block;
    line-height: 1;
	margin: 0;

    &.top-level > a {
		line-height: 1.5;
		font-weight: 600;
		padding-left: 1rem;
	}
}

.inner-content {
    padding: 2rem;

    @include mq(tablet){
        position: relative;
        max-width: $content-wd;
        margin-left: $sidebar-wd;
    }

    @include mq(desktop){
        margin-left: Max(
            #{$sidebar-wd},
            calc(#{$sidebar-wd} + (100% - #{$sidebar-wd + $content-wd})/3)
        );
    }

    h1 {
        margin: 0;
    }
}