a {
    text-decoration: none;
}

a, span {
    color: $color-darkbrown;
    font-family: "Nunito Sans", sans-serif;
}

button {
    border: none;
    background: none;
}

#stars {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: none;
}

.sidebar {
    z-index: 1;
    flex-wrap: wrap;

    @include mq(desktop){
        position: fixed;
    }
}

.sidebar-left {
    display: flex;
    background-color: $color-beige;

    @include mq(desktop){
        flex-flow: column nowrap;
        width: $sidebar-wd;
        height: 100%;
        background: none;
        align-items: flex-end;
    }

    @include mq(wide){
        width: calc((100vw - #{$content-wd})/2);
    }
}

.side-banner {
    width: 100%;
    text-align:center;

    @include mq(desktop){
        width: $sidebar-wd;
        padding-top: 4rem;
    }

    .site-avatar {
        img {
            display: none;
            width: 10.5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            outline: 5.25rem solid rgba(255,255,255,0.3);
            outline-offset: -5.25rem;
            transition: .3s;

            @include mq(desktop){
                display: inline-block;
            }

            &:hover {
                outline: 4px solid $color-orange;
                outline-offset: 8px;
            }
        }

        img + img {
            border-radius: 50%;
        }
    }

    .site-name {
        margin: 1rem;
        font-size: 1.75rem;

        a, span {
            font-family: Impact, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
            letter-spacing: 2px;
            word-spacing: -6px;
            color: #0D3D56;
        }

        .highlight {
            @supports (background-clip: text) or (-webkit-background-clip: text) {
                background-image: 
                url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23CD5849' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='320' cy='256' r='512' fill='%23F16C20'/%3E%3Ccircle cx='2048' cy='512' r='512' fill='%23CD5849'/%3E%3Ccircle cx='1600' cy='768' r='512' fill='%23CD0067'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: 150% auto;
                background-position: center;
                color: transparent;
                -webkit-background-clip: text;
            }
        }

        @include mq(desktop){
            font-size: 2rem;
            margin: 2rem;
        }
    }

    .open-nav {
        position: absolute;
        background-color: $color-beige;
        background-repeat: no-repeat;
        border: 0;
        width: 4rem;
        height: 4rem;
        top: 0px;
        right: 0;
        font-size: 1.5rem;

        @include mq(desktop){
            display: none;
        }
    }

    .open-nav:hover {
        background-color: rgba(212, 201, 191, 0.7);
    }
}

.navigation {
    display: none;
    flex: 1 1 auto;
    width: 100%;

    &.nav-open {
        display: block;
        border-top: 1px solid $color-grey;

        @include mq(desktop){
            border: none;
        }
    }

    @include mq(desktop){
        width: calc($sidebar-wd - 3rem);
        display: block;
        max-height: 480px;
        padding: 1.5rem;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #aaa;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-rosybrown;
        }
    }
}

.nav-list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-family: 'Lato', sans-serif;
  
    li {
        font-size: 1.125rem;
  
        > .nav-list {
            padding-left: 1.125rem;
            list-style: none;

            transition: max-height .5s, opacity .2s;
            opacity: 0;
            max-height: 0;
    
            li {
                position: relative;
            }
        }

        &.active {
            > .nav-item .nav-list-expander i {
                transform: rotate(180deg);
            }

            > .nav-list {
                opacity: 1;
                max-height: 256px;
            }
        }
    }
}

.nav-item {
    position: relative;
    padding: 0.75rem;
    display: flex;

    &.selected {
        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    a {
        font-weight: 400;
    }

    .nav-list-link {
        display: flex;
        position: relative;
        width: 95%;
        align-items: center;
        transition: all .2s ease;

        span {
            position: relative;
        }

        @include mq(tablet) {
            min-height: 2rem;
        }

        @include mq(desktop) {
            &:hover {
                span {
                    font-weight: 600;
                    text-decoration: underline;
                }

                transform: scale(.9);
            }
        }
    }

    .nav-lh {
        .fa {
            margin-right: 0.875rem;
            margin-left: -0.375em;
            position: relative;
            color: $color-darkorange;
        }

        @include mq(desktop) {
            &:before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                border-radius: 1.5rem;
                background: rgba($color-lightyellow, .375);
                width: 3rem;
                height: 3rem;
                transition: all .3s ease;
            }

            &:hover:before {
                width: 105%;
                background: rgba($color-lightyellow, 1);
            }
        }
    }

    .nav-sh {
        .fa {
            font-size: 0.875rem;
            margin-right: 0.75rem;
        }
    }

    .nav-list-expander {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        padding: 3px;
        right: 8px;
        transition: all .375s ease;

        i {
            transition: all .2s ease;
        }

        @include mq(desktop) {
            background-color: transparent;
            right: -8px;
        }

        .fa {
            font-weight: 900;
            font-size: 1.25rem;
        }

        &:hover {
            transform: scale(1.25);
            color: $color-darkorange;
        }
    }
}

.sidebar-right{
    display: none;

    @include mq(wide){
        display: flex;
        height: 100%;
        align-items: flex-end;
        width: calc((100vw - #{$content-wd})/2);
        margin-left: calc(#{$content-wd} + (100vw - #{$content-wd})/2);
    }
}

.tools {
    position: fixed;
    top: 1rem;

    button {
        width: 2.75rem;
        aspect-ratio: 1;
        text-align: center;
        background: #ffe390;
        border: none;
        border-radius: 50%;
        margin-left: 1rem;

        &:hover {
            border: 2px solid $color-navy;
            animation: leaves .75s ease-in-out infinite alternate;
        }
    }

    @keyframes leaves {
        0% {
            transform: scale(1.0);
            background: #ffe390;
        }
        100% {
            transform: scale(1.25);
            background: #ffd044;
        }
    }

    i {
        color: #3A241A;
        font-size: 1.5rem;
        font-weight: 900;
        position: relative;
    }

    .fa-moon {
        display: block;

        &.active{
            display: none;
        }
    }

    .fa-sun {
        display: none;

        &.active{
            display: block;
        }
    }
}

.toc {
    position: fixed;
    top: 6rem;
}

.toc-header {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 1.5rem;
    padding-bottom: 4px;
    border-bottom: $color-darkbeige 2px solid;
}

.toc-board {
    max-width: $sidebar-wd;
    margin: 0 1.5rem;
}

.toc-list {
    font-size: 1.125rem;
    padding: 0;

    li:last-child {
        margin-bottom: 0;
    }

    li a {
        display:inline-block;
    }

    .node-name--H1 {
        margin-top: 0.5rem;
    }

    .node-name--H2 {
        font-size: 1rem;
        margin-top: 0.375rem;
        padding-left: 0.5rem;
    }

    .toc-list-item {
        word-break: normal;
        display: block;
        line-height: 150%;
    }
      
    .is-active-link{
        color: $color-darkorange;
        font-weight:950;
    }
}



#search
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: rgba(255,255,255,0.875);
    z-index: 999;
    text-align: center;

    .wave {
        background: rgba(253, 177, 55, 0.5);
        border-radius: 0 0 250% 250%;
        position: fixed;
        width: 200%;
        height: 13.5rem;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.75;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .wave:nth-of-type(2) {
        top: -1.5em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.75;
    }
    
    .wave:nth-of-type(3) {
        top: -3em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.875;
    }
    
    @keyframes wave {
        2% {
            transform: translateX(1);
        }
    
        25% {
            transform: translateX(-25%);
        }
    
        50% {
            transform: translateX(-50%);
        }
    
        75% {
            transform: translateX(-25%);
        }
    
        100% {
            transform: translateX(1);
        }
    }

    .search-box {
        margin: auto;
        margin-top: 20vh;

        .input-box {
            position: relative;

            &:before, 
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:before {
                background: #fff;
            }

            &:after {
                background-image: url('/assets/img/tile.png');
            }

            button {
                position: absolute;
                top: 0;
                right: 1rem;
                transform: translateY(60%);
                font-size: 2.5rem;
                color: $color-rosybrown;
                border: none;
                display: none;
                background: none;
                outline: none;
              }
        }

        input {
            font-size: 3rem;
            padding: 1rem;
            width: 40rem;
            border: 2px solid #aaa;
            background: none;
        }
    }

    ul {
        margin: auto;
        margin-top: -1px;
        padding: 0;
        overflow-y: auto;
        max-height: 32rem;
        border-bottom: 2px solid #aaa;
        box-shadow: 0px 4px 8px 0 #ccc;

        div {
            font-size: 1.125rem;
            margin: 0.25rem;
        }

        i {
            font-size: 1.25rem;
            margin-right: 1rem;
            color: #666;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #ddd;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-rosybrown;
        }
    }

    .result-item {
        list-style: none;
        text-align: justify;
        padding: 1rem;
        border: 1px solid #aaa;
        background: #fff;

        &:hover {
            background: #ffe7a0;
        }

        .highlight {
            font-weight: 900;
            color: $color-green !important;
        }

        .title {
            font-size: 1.25rem;
        }
    }

    &.active{
        display: flex;
    }
}