.sidebar {
    z-index: 0;
    flex-wrap: wrap;

    @include mq(desktop){
        position: fixed;
    }
}

.sidebar-left {
    display: flex;
    background-color: $color-beige;

    @include mq(desktop){
        flex-flow: column nowrap;
        width: $leftbar-wd;
        height: 100%;
        border-right: 1px solid $color-darkbeige;
        align-items: flex-end;
    }

    @include mq(wide){
        width: calc((100vw - #{$content-wd})/2);
    }
}

.side-banner {
    width: 100%;
    text-align:center;

    @include mq(desktop){
        width: $leftbar-wd;
        padding-top: 1rem;
    }

    .site-avatar {
        margin:0 auto;
        display: block;
        max-width: 6rem;
        max-height: 6rem;

        img {
            display: none;
            border-radius: 2px;
            max-width: 100%;
            width: auto !important;
            height: auto !important;

            @include mq(desktop){
                display: inline-block;
            }
        }
    }

    .site-name {
        margin:0.8rem auto;
        cursor: pointer;
        font-family: 'GUERRILLA', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            color: $color-darkbrown;
        }

        a:hover{
            color:$color-orange;
        }
    }

    .open-nav {
        position: absolute;
        background-color: $color-beige;
        background-repeat: no-repeat;
        border: 0;
        width: 4rem;
        height: 4rem;
        top: 0px;
        right: 0;
        font-size: 1.5rem;
        color: $color-darkbrown;

        @include mq(desktop){
            display: none;
        }
    }

    .open-nav:hover {
        background-color: rgba(212, 201, 191, 0.7);
    }
}

.navigation {
    display: none;
    flex: 1 1 auto;
    overflow-y: auto;
    width: 100%;

    &.nav-open {
        display: block;
        border-top: 1px solid $color-grey;
    }

    @include mq(desktop){
        width: $leftbar-wd;
        display: block;
        padding-top: 3rem;
    }
}

.nav-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;

    @include mq(desktop){
        padding-left: 1rem;
    }
  
    .nav-list-item {
        position: relative;
        margin: 0;
        font-size: 1.125rem;

        @include mq(tablet){
            margin: 0.75rem 0;
        }

        a {
            text-decoration: none;
            font-weight: 400;
            color: $color-darkbrown;
        }
  
        .nav-list-link {
            display: flex;
            min-height: 3rem;
            align-items: center;
            padding-right: 2rem;
            padding-left: 1rem;
  
            @include mq(tablet) {
                min-height: 2rem;
            }
    
            &.active {
                font-weight: 600;
                text-decoration: none;
            }
    
            &:hover,
            &.active {
                background-image: linear-gradient(
                    -90deg,
                    rgba($feedback-color, 1) 0%,
                    rgba($feedback-color, 0.8) 80%,
                    rgba($feedback-color, 0) 100%
                );
            }
        }
  
        .nav-list-expander {
            display: inline-block;
            position: absolute;
            right: 0;
    
            width: 3rem;
            height: 3rem;
            padding: 0.75rem;
            background-color: $color-beige;
            color: $color-grey;
            border: none;
    
            @include mq(tablet) {
                width: 2rem;
                height: 2rem;
                padding: 0.25rem;
            }
  
            &:hover {
                background-image: linear-gradient(
                    -90deg,
                    rgba($feedback-color, 1) 0%,
                    rgba($feedback-color, 0.8) 100%
                );
            }
    
            i {
                font-size:24px;
            }
        }
  
        > .nav-list {
            display: none;
            padding-left: 0.75rem;
            list-style: none;
    
            .nav-list-item {
                position: relative;
            }
        }
  
        &.active {
            > .nav-list-expander i {
                transform: rotate(180deg);
            }

            > .nav-list {
                display: block;
            }
        }
    }

    #nav-second a {
        font-weight: 400;
    }

    #nav-third a {
        font-weight: 200;
    }
}

.nav-category {
    padding: 0.5rem 1rem;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
    border-bottom: 1px solid $color-grey;
    font-size: 0.6875rem;
  
    @include mq(tablet) {
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        text-align: start;
    
        &:first-child {
            margin-top: 0;
        }
    }
}

.nav-list.nav-category-list {
    > .nav-list-item {
      margin: 0;
  
        > .nav-list {
            padding: 0;
    
            > .nav-list-item {
                > .nav-list-link {
                    color: $color-darkbrown;
                }
        
                > .nav-list-expander {
                    color: $color-darkbrown;
                }
            }
        }
    }
}

.sidebar-right{
    display: none;

    @include mq(wide){
        display: flex;
        height: 100%;
        align-items: flex-end;
        width: calc((100vw - #{$content-wd})/2);
        margin-left: calc(#{$content-wd} + (100vw - #{$content-wd})/2);
    }
}

.toc {
    position: fixed;
    top: 4rem;
}

.toc-header {
    color: $color-darkbrown;
    font-size: 1.25rem;
    padding-left: 1.5rem;
    line-height: 2;
    margin: 0;
    width: fit-content;
    border-bottom: $color-darkbeige 2px solid;
}

.toc-board {
    max-width: $rightbar-wd;
    margin: 0 1.5rem;
}

.toc-list {
    position:relative;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0;
    direction: ltr;

    li:last-child {
        margin-bottom: 0;
    }

    li a {
        color: $color-darkgrey;
        font-family: 'Nunito Sans';
        text-decoration: none;
        display:inline-block;
    }

    .node-name--H1 {
        margin-top: 0.5rem;
    }

    .node-name--H2 {
        font-size: 1rem;
        margin-top: 0.375rem;
        padding-left: 0.5rem;
    }

    .toc-list-item {
        word-break: normal;
        display: block;
        position: relative;
        white-space: normal;
        line-height: 150%;
    }
      
    .is-active-link{
        color: $color-darkorange;
        font-weight:950;
    }
}