$color-black: #111111;
$color-lightgrey: #cccccc;
$color-darkgrey: #333;
$color-grey: #696969;
$color-rosybrown: #987284;
$color-wenge: #66545E;
$color-beige: #F1EBE5;
$color-darkbeige: #c6b598;
$color-darkbrown: #3A241A;
$color-navy: #32325d;
$color-lightyellow: #ffd966;
$color-orange: #E49D14;
$color-darkorange: #B04008;
$color-blue: #2c84fa;
$color-darkblue: #0D3D56;
$color-rose: #fa4251;
$color-green: #0BDA51;
$sidebar-wd: 18rem;
$content-wd: 54rem;

$media-wd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;