$color-black: #111111;
$color-lightgrey: #cccccc;
$color-darkgrey: #333;
$color-grey: #5c5962;
$color-charcoal: #1a222c;
$color-rosybrown: #987284;
$color-wenge: #66545E;
$color-beige: #F1EBE5;
$color-darkbeige: #c6b598;
$color-brown: #3A241A;
$color-navy: #32325d;
$color-lightyellow: #ffd966;
$color-orange: #E49D14;
$color-darkorange: #C65102;
$color-blue: #2c84fa;
$color-rose: #fa4251;
$color-pink: #f49ab6;
$feedback-color: darken(#ebe3db, 3%);
$leftbar-wd: 14rem;
$content-wd: 50rem;
$rightbar-wd: 20rem;
$line-space-lg: 3rem;
$line-space-sm: 1.5rem;

$media-wd: (
  mobile: 20rem, // 320px
  tablet: 48rem, // 768px
  desktop: 64rem, // 1024px
  wide: 90rem, // 1440px
) !default;