---
---

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('Nunito Sans'),
         url(/assets/fonts/NunitoSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: local('Righteous'),
         url(/assets/fonts/Righteous-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('Lato'),
         url(/assets/fonts/Lato-Regular.ttf) format("truetype");
}