---
---

:root{
    --img-size-md: clamp(7.5rem, 12vw, 15rem);

    --font-size-xxl: clamp(5rem, 8vw, 10rem); // 80 ~ 160
    --font-size-xl: clamp(3.75rem, 6vw, 7.5rem); // 60 ~ 120
    --font-size-lg: clamp(2.5rem, 4vw, 5rem); // 40 ~ 80
    --font-size-md: clamp(1.5625rem, 2.5vw, 3.125rem); // 25 ~ 50
    --font-size-sm: clamp(0.9375rem, 1.5vw, 1.875rem); // 15 ~ 30
    --font-size-xs: clamp(0.625rem, 1vw, 1.25rem); // 10 ~ 20
}

html, body {
    margin: 0;
    padding: 0;
}

@import 'vars';
@import 'layout';
@import "footer";
@import "header";
@import "about";
@import "contents";

@import "subpage";
@import "post";