<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include loading.html %}
  <body>
    <canvas id="bubbles" width="100%" height="100%"></canvas>
    <section id="header">
      {% include header.html %}
    </section>
    <section id="about" class="open">
      {% include about.html %}
    </section>
    <section id="contents">
      {% include contents.html %}
    </section>
    {% include footer.html %}
  </body>
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.webp' }}">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</html>